*.o
*.obj
*.exe
*.bin
*.so
*.a
*.lib
*.dll
*.dylib
*.framework
*.app
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.Z
*.tgz
*.tbz2
*.tbz2
*.txz
*.tar.xz
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.Z
*.tar.7z
*.tar.xz
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.Z
*.tar.7z
Makefile
*.d
*.depend
*.tmp
*.log
*.out
*.err
*.debug
*.release
*.test
*.coverage
*.gcov
*.gcda
*.gcno
*.objdump
*.asm
*.lst
*.map
*.hex
*.bin
*.elf
*.exe
*.dll
*.so
*.a
*.lib
*.framework
*.app
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.Z
*.tgz
*.tbz2
*.txz
*.tar.xz
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.Z
*.tar.7z
*.tar.xz
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.Z
*.tar.7z
